<md-content class="md-padding">
    <div layout="row">
        <md-input-container flex>
            <label>{{elementAttribute.NameString}}</label>
            <input ng-model="elementAttribute.Name" name="elementAttributeName" required>
            <div ng-messages="elementAttributeForm.elementAttributeName.$error">
                <div ng-message="required">{{elementAttribute.RequiredFieldString}}!</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex>
            <label>{{elementAttribute.TypeString}}</label>
            <md-select ng-model="elementAttribute.TypeId" name="valueType" required>
                <md-option ng-repeat="attr in AttributeTypes" ng-value="attr.ValueTypeId">
                    {{attr.AttributeTypeName}}
                </md-option>
            </md-select>
            <div ng-messages="elementAttributeForm.valueType.$error" ng-if="elementAttributeForm.$dirty">
                <div ng-message="required">{{elementAttribute.RequiredFieldString}}!</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex>
            <label>{{elementAttribute.ClientSystemNameString}}</label>
            <input ng-model="elementAttribute.ClientSystemName" name="elementAttributeClientSystemName" required="">
            <div ng-messages="elementAttributeForm.elementAttributeClientSystemName.$error">
                <div ng-message="required">{{elementAttribute.RequiredFieldString}}!</div>
            </div>
        </md-input-container>
    </div>
</md-content>
