<md-dialog aria-label="dictionary element attribute card" ng-cloak flex="30">
    <form name="elementAttributeForm" ng-submit="$event.preventDefault()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{elementAttribute.Action}} {{elementAttribute.Title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="content:clear" aria-label="Close element attribute dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="padding: 10px;">
            <element-attribute></element-attribute>
        </md-dialog-content>
        <md-dialog-actions layout="row" style="padding: 10px;">
            <md-button ng-click="answer()" aria-label="element item confirm button" ng-disabled="elementAttributeForm.$invalid">{{elementAttribute.ActionConfirm}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
