<md-content class="md-padding" ng-controller="UsersMainController">
    <div layout="row">
        <div flex>
            <md-button class="md-icon-button" ng-click="add($event)">
                <md-tooltip md-direction="bottom">
                    Добавить
                </md-tooltip>
                <md-icon md-svg-icon="content:add" aria-label="edit attribute"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="edit($event)" ng-disabled="!gridApi.selection.getSelectedRows().length">
                <md-tooltip md-direction="bottom">
                    Редактировать
                </md-tooltip>
                <md-icon md-svg-icon="image:edit" aria-label="edit attribute"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="delete($event)" ng-disabled="!gridApi.selection.getSelectedRows().length">
                <md-tooltip md-direction="bottom">
                    Удалить
                </md-tooltip>
                <md-icon md-svg-icon="action:delete" aria-label="delete attribute"></md-icon>
            </md-button>
        </div>
    </div>
    <div layout="row">
        <div flex>
            <div id="grid3" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-edit></div>
        </div>
    </div>
    <div layout="row">
        <ng-include src="'Frontend/Views/shared/PaginationTemplate.html'"></ng-include>
    </div>
      
</md-content>
