<div style="margin-top:51px" ng-cloak class="md-inline-form" ng-controller="WorkItemController">
    <md-content class="md-padding" style="width:100%; height:100%">
        <div layout="row">
            <div layout="column" style="width: 100%; height: 100%">
                <ng-form name="addUpdateWorkItemForm" flex>
                    <md-content class="md-padding content-back">
                        <md-input-container class="md-block">
                            <label>Тип</label>
                            <md-select ng-model="workItem.Type" required ng-change="typeChanged(workItem.Type)">
                                <md-option ng-repeat="type in types" ng-value="type.Id">
                                    {{type.Name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" style="width: 100px" ng-if="workItem.Id">
                                <label></label>
                                <input ng-model="workItem.Id" disabled></input>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Название</label>
                                <input ng-model="workItem.Name" md-select-on-focus required></input>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row" ng-if="workItem.Type && !isProject">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Проект</label>
                                <md-select ng-model="parentProjectId" required ng-change=projectChanged(parentProjectId)>
                                    <md-option ng-repeat="project in projects" ng-value="project.Id">
                                        {{project.Name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm ng-if="!isStage">
                                <label>Стадия</label>
                                <md-select ng-model="parentStageId" required ng-change=stageChanged(parentStageId)>
                                    <md-option ng-repeat="stage in stages" ng-value="stage.Id">
                                        {{stage.Name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm ng-if="!isPartition && !isStage">
                                <label>Раздел</label>
                                <md-select ng-model="parentPartitionId" required>
                                    <md-option ng-repeat="partition in partitions" ng-value="partition.Id">
                                        {{partition.Name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex="50">
                                <label>Исполнитель</label>
                                <md-select ng-model="workItem.ExecutorId" required>
                                    <md-option ng-repeat="user in users" value="{{user.Id}}">
                                        {{getUserDisplayText(user)}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Дедлайн</label>
                                <md-datepicker ng-model="workItem.DeadLine" required></md-datepicker>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Часы</label>
                                <input type="number" md-min="0" md-max="23" ng-model="workItem.DeadLineHours" required>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Минуты</label>
                                <input type="number" md-min="0" md-max="59" ng-model="workItem.DeadLineMinutes" required>
                            </md-input-container>
                        </div>

                        <md-input-container class="md-block without-errors">
                            <label>Описание</label>
                            <textarea ng-model="worItem.Description" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                        <div layout="row">
                            <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="addUpdateWorkItemForm.$invalid">Сохранить и закрыть</md-button>
                            <md-button class="md-raised md-warn" ng-click="cancel($event)">Отмена</md-button>
                        </div>
                    </md-content>
                </ng-form>
            </div>
            <div layout="column" style="width:100%;">
                <md-content class="md-padding content-back">
                    <md-tabs>
                        <md-tab label="Связи">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Связи</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="Файлы">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab Two</h1>
                                <p>Lorem ipsum dolor sit amet,.</p>
                                <p>Morbi viverra, ante vel aliquet tincidunt,.</p>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet i</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="Дополнительно">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab Three</h1>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, .</p>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>

            </div>
        </div>
        <div layout="row">
            <md-content class="md-padding content-back" style="width:100%; heigth:100%">
                <md-tabs>
                    <md-tab label="Обсуждение">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Связи</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>

        </div>
        
    </md-content>
</div>
