<div layout="row" layout-align="space-between" class="workitem-row " ng-controller="WorkItemRowController">
    
    <div class="row-item-type {{getWorkItemTypeName(workItem.Type)}}-color"></div>
    <div>
        <md-button aria-label="collapse button" class="md-icon-button" ng-click="expand(workItem)">
            <md-icon md-svg-icon="hardware:{{workItem.expanded?'keyboard_arrow_down':'keyboard_arrow_right'}}"></md-icon>
        </md-button>
    </div>
    <div layout="column" flex style="margin-left: 5px">
        <div layout="row" layout-align="space-between">
            <div>
                <b>{{workItem.Id}}</b>&nbsp;{{workItem.Name}}
            </div>
            <div>Состояние: {{workItem.State.Description}}</div>
        </div>
        <div layout="row" layout-align="space-between">
            <div>{{getExecutorText(workItem.Type)}}:&nbsp;{{getUserInfo(workItem)}}</div>
            <div ng-class="{'warn-color': workItem.IsDeadLineSoon, 'fail-color': workItem.IsOverdue}">{{getDeadlineText(workItem)}}</div>
        </div>
    </div>
    <div>
        <md-button aria-label="Open edit window" class="md-icon-button" ng-click="edit(workItem)">
            <md-icon md-svg-icon="navigation:more_horiz"></md-icon>
            <md-tooltip md-direction="bottom">Подробнее</md-tooltip>
        </md-button>
    </div>
</div>
<div ng-show="workItem.expanded">
    Описание:&nbsp;{{workItem.Description}}
</div>
<md-divider></md-divider>