<div layout="column" ng-controller="SearchController">
    <div layout="row">
        <div flex>
            <md-input-container class="md-block ">
                <label>Текст или номер рабочего элемента</label>
                <input ng-model="filterOptions.SearchText" required enter-press="find()"></input>
            </md-input-container>
        </div>
        <div><md-button ng-click="find()">Найти</md-button></div>
    
    </div>
    <div layout="column">
        <md-button aria-label="show details" ng-click="showDetails=!showDetails">{{showDetails?'свернуть':'Дополнительные параметры'}}</md-button>
        <div ng-show="showDetails" layout="column">
            <div layout="row">
                <md-input-container flex class="without-errors">
                    <label>Пользователи</label>
                    <md-select placeholder="Пользователи" ng-model="filterOptions.UserIds" multiple>
                        <md-option ng-repeat="user in users" ng-value="user.Id">{{getUserInfo(user)}}</md-option>
                    </md-select>
                </md-input-container>
      
                <md-input-container flex class="without-errors">
                    <label>Допустимые типы элементов</label>
                    <md-select  ng-model="filterOptions.Types" multiple>
                        <md-option ng-repeat="type in types" ng-value="type.Value">{{type.Description}}</md-option>
                    </md-select>
                </md-input-container>
      
                <md-input-container flex class="without-errors">
                    <label>Допустимые сосотяния</label>
                    <md-select ng-model="filterOptions.States" multiple>
                        <md-option ng-repeat="state in states" ng-value="state.Value">{{state.Description}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button aria-label="apply details" class="md-raised" ng-click="find()">Применить</md-button>
                <md-button aria-label="clear details" class="md-raised md-warn" ng-click="clear()">Сбросить всё</md-button>
            </div>
      
        </div>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="isWaitingResult">
        <md-progress-circular md-mode="determinate"></md-progress-circular>
    </div>
    <div  ng-if="!isWaitingResult && result.length">
        <ng-include ng-repeat="workItem in result" src="'app/main/search/resultItemRowTemplate.html'"></ng-include>
    </div>
    <div ng-if="!isWaitingResult && !result.length">
        Результатов нет
    </div>
</div>
