<style>
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    width: 100%;
    overflow: hidden;
}

.container .header {
    height: 50px;
}
.container .article {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
}

</style>
<div class="container">

   
    <div class="article">

            <div class="box">
                <div style="height: 2000px" flex>
                    <div>Column 1</div>
                </div>
                <!--<div class="column">
                    <div>Column 1</div>
                </div>
                <div class="column">
                    <div>Column 1</div>
                </div>-->
            </div>

    </div>

</div>
