<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<!--<div ng-controller="NotifyController">
    <md-content>
        <md-input-container>
            <label>Пользователь</label>
            <md-select ng-model="user.Id">
                <md-option ng-repeat="user in users" value="{{user.Id}}">
                    {{user.Email}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-content>
    <md-tooltip md-direction="up">
        На предыдущую
    </md-tooltip>
    <md-button ng-click="send()">
        Отправить
        <md-tooltip md-direction="up">
            На предыдущую
        </md-tooltip>
    </md-button>
</div>-->
