<md-content>
    <md-content class="md-padding comment" flex>
        <div layout="column">
            <md-input-container class="without-errors">
                <label>Новый комментарий</label>
                <textarea ng-model="newComment.Text" rows="3" md-select-on-focus></textarea>
            </md-input-container>
            <div>
                <md-button aria-label="add comment" ng-click="addComment(newComment)" ng-disabled="!newComment.Text" class="md-raised">Добавить</md-button>
            </div>
        </div>
    </md-content>
</md-content>